# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

torch==2.1.0
pybullet
open3d
transforms3d==0.4.2
ultralytics==8.2.32
numpy==1.24.4
flask
opencv-python
grasp_nms



addict==2.4.0
annotated-types==0.7.0
anyio==4.4.0
asttokens==2.4.1
attrs==24.2.0
backcall==0.2.0
blinker==1.8.2
certifi
charset-normalizer
click==8.1.7
clip==1.0
comm==0.2.2
configargparse==1.7
contourpy==1.1.1
cycler==0.12.1
cython==3.0.11
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
distro==1.9.0
exceptiongroup==1.2.2
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.15.4
flask==3.0.3
fonttools==4.53.1
fsspec==2024.6.1
ftfy==6.2.3
grasp-nms==1.0.2
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
importlib-metadata==8.2.0
importlib-resources==6.4.0
ipython==8.12.3
ipywidgets==8.1.3
itsdangerous==2.2.0
jedi==0.19.1
jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications
jupyter-core==5.7.2
jupyterlab-widgets==3.0.11
kiwisolver==1.4.5
knn-pytorch==0.1





markupsafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mpmath==1.3.0
nbformat==5.10.4

nest-asyncio==1.6.0
networkx==3.1
numpy==1.24.4
open3d==0.18.0
openai==1.40.1
opencv-python==4.10.0.84

packaging==24.1
pandas==2.0.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pip==24.2
pkgutil-resolve-name==1.3.10
platformdirs==4.2.2
plotly==5.23.0
pointnet2==0.0.0
prompt-toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
py-cpuinfo==9.0.0
pybullet==3.2.6
pydantic==2.8.2
pydantic-core==2.20.1
pygments==2.18.0
pyparsing==3.1.2
pyquaternion==0.9.9

pytz==2024.1
pyyaml==6.0.2
readline==6.2.4.1
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
retrying==1.3.4
rpds-py==0.20.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
setuptools==72.1.0
six==1.16.0
sniffio==1.3.1
stack-data==0.6.3
sympy==1.13.1
tenacity==9.0.0
threadpoolctl==3.5.0
tk

torchvision==0.16.0
tqdm==4.66.5
traitlets==5.14.3
transforms3d==0.4.2
triton==2.1.0
typing-extensions==4.12.2
tzdata==2024.1
ultralytics==8.2.32
ultralytics-thop==2.0.0
urllib3==2.2.2
wcwidth==0.2.13
werkzeug==3.0.3
wheel==0.43.0
widgetsnbextension==4.0.11

zipp==3.19.2
zlib
